body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #0078d7;
  color: white;
  text-align: center;
  padding: 1em 0;
}

main {}